@model IEnumerable<Project.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="Search" value="@ViewData["Search"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FifaPlayerId)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PositionSortParm"]">@Html.DisplayNameFor(model => model.Position)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParm"]">@Html.DisplayNameFor(model => model.Rating)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CardTypeSortParm"]">@Html.DisplayNameFor(model => model.CardType)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GamesPlayedSortParm"]">@Html.DisplayNameFor(model => model.GamesPlayed)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GoalsSortParm"]">@Html.DisplayNameFor(model => model.Goals)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GpgSortParm"]">Goals per game</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AssistsSortParm"]">@Html.DisplayNameFor(model => model.Assists)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ApgSortParm"]">Assists per game</a>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FifaPlayerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Picture)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GamesPlayed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Goals)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Goalspergame)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assists)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assistspergame)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PlayerId">Update</a> |
                        <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
                    </td>
            </tr>
            }
        </tbody>
    </table>
